# # Copyright (c) Guy's and St Thomas' NHS Foundation Trust & King's College London
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Push src folder to S3 (production account) on merge to main (from develop branch)

on:
  push:
    branches:
      - main

permissions:
  id-token: write # required for OIDC
  contents: read

jobs:
  sync:
    runs-on: ubuntu-latest
    environment: flip

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4.2.1
        with:
          role-to-assume: ${{ vars.AWS_PROD_ROLE_TO_ASSUME }}
          role-session-name: ${{ vars.AWS_ROLE_SESSION_NAME }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Generate commit SHA file (with short SHA in filename)
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          echo "${{ github.sha }}" > "commit_${SHORT_SHA}.txt"
          echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_ENV

      - name: Sync src folder and commit SHA to S3
        env:
          S3_FOLDER_URI: s3://${{ vars.AWS_PROD_S3_BUCKET_NAME }}/base-application
        run: |
          aws s3 rm "${S3_FOLDER_URI}/" --recursive --exclude "*" --include "commit_*.txt" --only-show-errors
          aws s3 sync src/ "${S3_FOLDER_URI}/src/" --delete
          aws s3 cp "commit_${SHORT_SHA}.txt" "${S3_FOLDER_URI}/commit_${SHORT_SHA}.txt"
